  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root{
    /* Colores */
    --blanco: #fafafa;
    --azulSaes:  #363d78;
    --azulSaesFont: #363d78;

    --e-global-color-primary: #6EC1E4;                          
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-224662e4: #7386d6;
    --e-global-color-50a85cba: #23A455;
    --e-global-color-42907c82: #000;
    --e-global-color-689aeba7: #54595F;


    /* Tipografía */
    --e-global-typography-primary-font-family: "Roboto";           
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;

    /*Tipografías extras */
    --tipo-principal: 'Montserrat', sans-serif;
    --tipo-secundaria: 'Roboto', sans-serif;

    /*Animacion*/
    --scale-up: 1.08;
}
body{
    background: #f1f1f1 none no-repeat fixed center center;
    max-width: 1600px;
    overflow-x: hidden;
    margin: 0 auto;
    display: block;
}
.main{
    width: 100%;
}
.header{
    position: relative;
}

/* HEADER STYLES*/
.nav__container{
    background: var(--blanco);
    position: fixed;
    top: 0;
    left: 0;
    margin:auto;
    width: 100%;
    transition: all 1s ease;
    color: #15094e;
    font-weight: 500;
    z-index: 1000;
    box-shadow: 0 0 .2em #000000,
                0 0 .2em #000000;
}
.nav{
    padding: 0 1em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

/* HEADER STICKY ANIMATIONS */
.nav__sticky{
}
.nav__sticky .nav__list{
    transform: translateX(-28%);
    transition: all 1s ease-in-out; 
    /* display: flex;
    align-items: center;
    justify-content:center;*/
}
.nav__sticky .nav__logo{
    /* opacity: 1; */
}
.nav__sticky .nav__link{
}
.nav__sticky .nav__link:hover{
}
.nav__sticky .nav__svg--flag:hover{
    /* box-shadow: 0 0 .2em #ffffff;
    border-radius: 50%;
    padding: .2em;
    transition: all .7s ease; */
}

/* END HEADER STICKY ANIMATIONS*/

/* CONTINUE HEADER STYLES */
.nav__logo{
    max-width: 6em;
    margin-left: 4em;
}
.nav__list{
    transition: all 1s ease;
    margin: 0 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    flex: 5;
}
.nav__item{
    margin: 0 .5em;
}
.nav__link{
    padding: .2em;
    line-height: 1.2;
    color: #000;
    font-family: var(--tipo-principal); /* DETERMINAR */
    font-size: 95%;
    font-weight: 500;
    text-align: center;
}
.nav__link:hover{
    color: #140833;
    scale:var(--scale-up);
    transition: scale .5s ease;
}
.nav__svg{
}
.nav__svg--burguer{
    display: none;
    
}
.nav__svg--flag{
    margin: 0 2em;
    max-width: 3em;
    cursor: pointer;
}
.nav__svg--flag:hover{
    scale: 1.08;
    transition: all .5s ease;
}


/* SLIDER */
.slider__container{
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    /* margin: auto; */
}
.slider__page{
    display: relative;
}
.slider__page{
    display: none;
    transition: 2s;
    max-height: 100vh;
}
.slider__titles{
    position: absolute;
    padding: 10em 5em;
    overflow: hidden;
    pointer-events: none;
    hyphens: none;

}
.slider__title--a{
    font-size: 4em;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
}
.slider__title--b{
    font-size: 6em;
    font-weight: 600;
    color: #287bf8;
    text-shadow: .01em .03em .1em #fff;
    text-transform: uppercase;
    font-family: var(--tipo-principal);
    line-height: 1.5em;
    background: #07006955;
}
.slider__title--c{
    font-size: 4em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
    color: #ffffff;
}

.slider__img{
    width: 100%;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 1.5s;
}
.slider__arrows{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
}
.slider__arrows a{
    color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    padding: .4em;
    margin: 0 .2em;
    text-decoration: none;
}
.slider__arrows a:hover{
    background: #140833;
    color: #ffffff;
    transition: .5s;
}
.slider__bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em; 
}
.slider__btn{}
.btn__cotizar{}
.slider__img{
    
}
.bar{
    cursor: pointer;
    height: .5em;
    width: 5em;
    background: #dcdde1;
    border-radius: 2em;
    display: inline-block;
    margin-left: 2em;
}
.bar__active{
    background: #4054b2;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }to{
        opacity:1;
    }
}
/* secciones */
.section__container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/* NUESTROS PRODUCTOS*/
.section__container--contenedores{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: var(--azulSaesFont);
}
.section__title--contenedores{
    font-weight: 600;
    z-index: 100;
    font-size: 3em;
    line-height: 1.4;
    padding: .4em 1em;
    color: var(--blanco);
    background: #f7f7f77c;
    margin-top: 1.5em;
}

.section__cards{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 4em;
    gap: 2em;

}
.section__card{
    box-shadow: 0 0 .3em #fff;
    border-radius: .4em;
    background: var(--azulSaesFont);
    width: 30%;
    min-width: 15em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em .5em;
}
.section__card:hover{
    transform: translateY(-.5em);
    cursor: pointer;
    transition: all .5s ease;
}
.card__title{
    text-align: center;
    font-weight: 600;
    font-size: .9em;
    background:var(--blanco);
    color: var(--azulSaesFont);
    width: 100%;
    padding: .5em 1em;
}
.card__img{
    width: 70%;
    object-fit: cover;
}
.card__text{
    padding: 1em;
}
.card__paragraph{
    color: #ffffff;
    padding: 1em 0;
    hyphens: none;
    text-align: center;
}
/* FORMULARIO*/
.section__container--form{
    margin: 0 auto;
    background: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    padding: 3em;

    background-position: center;
    background-size: cover; /* o background-size: auto; */
}
.form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.textarea{
    margin: 1em;
    display: flex;
    flex-flow: column nowrap;
}
.form__title{
    font-weight: 600;
    z-index: 100;
    font-size: 3em;
    line-height: 1.4;
    padding: .4em 1em;
    color: var(--blanco);
    background: #f7f7f77c;
}

.form__container{
    box-shadow: 0 0 .3em #fff;
    padding: 2em 2em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background: #1e0b4240;
}
.item__form { /*grupo*/
    position: relative;
    font-size: 1.1em;
    margin: .5em;
    padding: .5em;
    display: flex;
    flex-flow: column;
    color: #092c3a;
    background: transparent;
}
.item__form input{
    background: none;
    color: var(--blanco);
    margin-top: .2em;
    padding: .2em .2em .4em .3em;
    display: block;
    width: 100%;
    color: #feffff;
    border: none;
    border-bottom: .15em solid var(--azulSaes);
}
input{
    color: #feffff;

}
input:hover{
    box-shadow: 0 0 .3em #fff;
    border-radius: .2em;
}
input:focus{
    color: #feffff;
    outline: none;
}
.inputs label{
    color: #feffff;
    font-size: 100%;
    
    position: absolute;
    top: 1.2em;
    transition: all .5s ease-in-out ;
    pointer-events: none;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
input:focus~label,
input:valid~label{
    top: -.6em;
    font-size: .8em;
    transition: all .5s;
    font-weight: 600;
    color:var(--blanco);
}
input:focus~.barra::before{
    width: 100%;
}
.barra::before{
    content: '';
    height: .12em;
    width: 0%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #ffffff;
    transition: .6s ease width;
    box-shadow: 0 0 .3em #fff;
}
.form__textarea {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    resize: none;
    width: 30em;
    height: 12.66em;
    padding: .4em .4em;
    margin: 1em .2em;
    box-shadow: 0 0 .3em #fff;

    color: #feffff;
}
.item__form--mensaje{
    display: flex;
    flex-flow: column nowrap;
    color: #092c3a;
    
}
.form__opc{
    background: var(--azulSaesFont);
    border-bottom: 2px solid var(--azulSaes);
    outline: none;
    padding: .5em 1em .5em 1em;
    color:#ffffff;
    box-shadow: 0 0 .3em #fff;
}
.form__opc:hover{
    cursor: pointer;
}
.form__btn{
    color: #ffffff;
    box-shadow: 0 0 .3em #fff;
    font-family: 'Montserrat',sans-serif;
    background: var(--azulSaesFont);
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: .5em;
    border-bottom: 2px solid var(--azulSaes);
}
.form__btn:hover{
    background: var(--azulSaesFont);
    cursor: pointer;

}
.form__btn:active {
    scale: .98;
    background: var(--azulSaes);
    transition: scale .2s;
}

/*NOSOTROS (PASO A PASO)
.nosotros__container--slider{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
}
.slide-container {
    max-width: 70em;
    width: 100%;
    padding: 2.5em 0;
  }
  
  .slide-content {
    margin: 0 2.5em;
    overflow: hidden;
    border-radius: 1.5625em;
  }
  
  .card {
    border-radius: 1.5625em;
    background-color: #FFF;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .image-content,
  .card-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625em 0.875em;
  }
  
  .image-content {
    flex-basis:2em;
    flex-grow: 1;
    position: relative;
    row-gap: 0.3125em;
    padding: 1.5625em 0;
  }
  
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 1.5625em 1.5625em 0 1.5625em;
  }
  
  .overlay::before,
  .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -2.5em;
    height: 2.5em;
    width: 2.5em;
    background-color: #4070F4;
  }
  
  .overlay::after {
    border-radius: 0 1.5625em 0 0;
    background-color: #FFF;
  }
  
  .card-image {
    position: relative;
    height: 9.375em;
    width: 9.375em;
    border-radius: 50%;
    background: #FFF;
    padding: 0.1875em;
  }
  
  .card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.25em solid #4070F4;
  }
  
  .name {
    font-size: 1.125em;
    font-weight: 500;
    color: #333;
  }
  
  .description {
    font-size: 0.875em;
    color: #707070;
    text-align: center;
  }
  
  .button {
    border: none;
    font-size: 1em;
    color: #FFF;
    padding: 0.5em 1em;
    background-color: #4070F4;
    border-radius: 0.375em;
    margin: 0.875em;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background: #265DF2;
  }
  
  .swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  
  .swiper-navBtn:hover {
    color: #4070F4;
  }
  
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 2.1875em;
  }
  
  .swiper-button-next {
    right: 0;
  }
  
  .swiper-button-prev {
    left: 0;
  }
  
  .swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #4070F4;
  }

  @media screen and (max-width: 720px) {
    .slide-content {
      margin: 0 0.625em;
    }
  
    .swiper-navBtn {
      display: none;
    }
  }
   */
/*FOOTER*/
.footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.footer .copy{
    padding: 1.5em;
    color: #fff;
    text-align: center;
    width: 100%;
    background: var(--azulSaes);
}
.footer .items{
    color: #fff;
    
    padding: 2em;
    background: var(--azulSaes);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;
    border-bottom: 2px solid #ececec;
}
.footer__title{
    font-size: 120%;
    cursor: pointer;
    padding: 1em 0;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--e-global-color-primary);
}
.services__item{
    padding:.4em .3em;
    cursor: pointer;
}
.services__item:hover{
    color: var(--e-global-color-primary);
    scale: 1.07;
    transition: all .3s;
    transform: translateX(5%);
}
.footer__paragraph{
    hyphens: none;
    line-height: 1.2;
    font-size: 105%;
}



/* SLIDER EMPLEADOS*/


.section__title--nosotros{
    font-weight: 600;
    z-index: 100;
    font-size: 3em;
    line-height: 1.4;
    padding: .4em 1em;
    color: var(--blanco);
    background: #f7f7f77c;
}
.section__container--nosotros{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background:var(--e-global-color-224662e4);
    padding: 2em;
    margin: 0 auto;
}
.swiper{
    width: 1200px;
    max-width: 1400px;
    margin: 0 auto;
    padding:1em 0 ;
  }

  .card{
    flex-direction: 1;
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0;
  }
  .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    position: relative;
    z-index: 100;
  }
  section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #7d2ae8;
  }
  section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  .card .media-icons{
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
  }
  .card .media-icons i{
    color: #ffffff;
    opacity: 0.6;
    margin-top: 1em;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .card .media-icons i:hover{
    opacity: 1;
  }
  .card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .8em;
    color: #333333;
  } 
  .name-profession .name{
    font-size: 20px;
    font-weight: 600;
  }
  .name-profession .profession{
    font-size:15px;
    font-weight: 500;
  }
  .card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
  }
  .card .rating i{
    font-size: 18px;
    margin: 0 2px;
    color: #7d2ae8;
  }
  .card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .card .button button{
    background: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .button button:hover{
    background: #6616d0;
  }
  .swiper-pagination{
    position: absolute;
  }
  .swiper-pagination-bullet{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: #7d2ae8;
  }
  .swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: #7d2ae8;
    transition: all 0.3s ease;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: #7d2ae8;
  }
