  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root{
    /* Colores */
    --blanco: #fafafa;
    --azulSaes: #2c5375;
    --azulSaesFont: #140833;

    --e-global-color-primary: #6EC1E4;                          
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-224662e4: #4054b2;
    --e-global-color-50a85cba: #23A455;
    --e-global-color-42907c82: #000;
    --e-global-color-689aeba7: #54595F;


    /* Tipografía */
    --e-global-typography-primary-font-family: "Roboto";           
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;

    /*Tipografías extras */
    --tipo-principal: 'Montserrat', sans-serif;
    --tipo-secundaria: 'Roboto', sans-serif;

    /*Animacion*/
    --scale-up: 1.08;
}
body{
    background: #f1f1f1 none no-repeat fixed center center;
    max-width: 1600px;
    overflow-x: hidden;
    margin: 0 auto;
    display: block;
}
.main{
    width: 100%;
}
/* HEADER STYLES*/
.nav__container{
    background: var(--blanco);
    position: fixed;
    top: 0;
    left: 0;
    margin:auto;
    width: 100%;
    padding: .2em;
    transition: all 1s ease;
    color: #000000;
    font-weight: 500;
    z-index: 100;

    box-shadow: 0 0 .2em #000000,
                0 0 .2em #000000;
}
.nav{
    padding: 0 1em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
/* HEADER STICKY ANIMATIONS */
.nav__sticky{
}
.nav__sticky .nav__list{
    transform: translateX(-22%);
    transition: all 1s ease-in-out; 
    /* display: flex;
    align-items: center;
    justify-content:center;*/
}
.nav__sticky .nav__logo{
    /* opacity: 1; */
}
.nav__sticky .nav__link{
}
.nav__sticky .nav__link:hover{
}
.nav__sticky .nav__svg--flag:hover{
    /* box-shadow: 0 0 .2em #ffffff;
    border-radius: 50%;
    padding: .2em;
    transition: all .7s ease; */
}

/* END HEADER STICKY ANIMATIONS*/

/* CONTINUE HEADER STYLES */
.nav__logo{
    max-width: 6em;
    margin-left: 4em;
}
.nav__list{
    transition: all 1s ease;
    margin: 0 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    flex: 5;
}
.nav__item{
    margin: 0 .5em;
}
.nav__link{
    padding: .2em;
    line-height: 1.2;
    color: #000;
    font-family: var(--tipo-principal); /* DETERMINAR */
    font-size: 95%;
    font-weight: 500;
    text-align: center;
}
.nav__link:hover{
    color: #140833;
    scale:var(--scale-up);
    transition: scale .5s ease;
}
.nav__svg{
}
.nav__svg--burguer{
    display: none;
    
}
.nav__svg--flag{
    margin: 0 2em;
    max-width: 3em;
    cursor: pointer;
}
.nav__svg--flag:hover{
    scale: 1.08;
    transition: all .5s ease;
}

/* SLIDER */

.slider__container{
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    position: relative;
    top: 2.5em;
    overflow: hidden;
    /* margin: auto; */
}

.slider__page{
    display: relative;
}

.slider__titles{
    position: absolute;
    padding: 10em 5em;
    overflow: hidden;
    pointer-events: none;
    hyphens: none;
}

.slider__title--a{
    font-size: 4em;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;

}
.slider__title--b{
    font-size: 6em;
    font-weight: 600;
    color: #287bf8;
    text-shadow: 0 0 .1em #fff;
    text-transform: uppercase;
    font-family: var(--tipo-principal);
    line-height: 1.5em;
    background: #07006955;
}
.slider__title--c{
    font-size: 4em;
    font-weight: 500;
    text-transform: uppercase;

    line-height: 1.2;
}

/* .slider__page{
    display: none;
    transition: 2s;
    max-height: 100vh;
} */

.slider__page img{
    width: 100%;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
}

.slider__arrows{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
}
.slider__arrows a{
    color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    padding: .4em;
    margin: 0 .2em;
    text-decoration: none;
}
.slider__arrows a:hover{
    background: #140833;
    color: #ffffff;
    transition: .5s;
}
.slider__bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em; 
}
.bar{
    cursor: pointer;
    height: .5em;
    width: 5em;
    background: #dcdde1;
    border-radius: 2em;
    display: inline-block;
    margin-left: 2em;
}
.bar__active{
    background: #4054b2;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }to{
        opacity:1;
    }
}

/* ESTILOS FORMULARIO*/
.form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5em;
    text-align: center;
    background: #123072e8;
}

.textarea{
    margin: 1em;
    display: flex;
    flex-flow: column nowrap;
}
.form__title{
    line-height: 1.2;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: .5em;
}
.form__container{
    box-shadow: 0 0 .3em #fff;
    padding: 1.5em 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background: var(--blanco);
}
.item__form { /*grupo*/
    position: relative;
    font-size: 1.1em;
    margin: .5em;
    padding: .5em;
    display: flex;
    flex-flow: column;
    color: #092c3a;
    background: var(-);
}
.item__form input{
    background: none;
    color: var(--blanco);
    margin-top: .2em;
    padding: .2em .2em .4em .3em;
    display: block;
    width: 100%;
    color: #092c3a;

    border: none;
    border-bottom: .15em solid var(--azulSaes);
}
input{
    color: #5fff03;
}
input:focus{
    color: var(--e-global-color-42907c82-color-224662e4);
    outline: none;
}
.inputs label{
    color: var(--azulSaesFont);
    font-size: 100%;
    position: absolute;
    color: #163f50;
    top: 1.2em;
    transition: all .5s ease-in-out ;
    pointer-events: none;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
input:focus~label,
input:valid~label{
    top: -.4em;
    font-size: .8em;
    transition: all .5s;
    font-weight: 600;
    color: var(--azulSaesFont);
}
input:focus~.barra::before{
    width: 100%;
}
.barra::before{
    content: '';
    height: .1em;
    width: 0%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: var(--e-global-color-42907c82);
    transition: .6s ease width;
}
.form__textarea {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    resize: none;
    width: 30em;
    height: 12.66em;
    padding: .4em .4em;
    margin: 1em .2em;
    border: .15em solid var(--azulSaesFont);
    color: #092c3a;
}
.item__form--mensaje{
    display: flex;
    flex-flow: column nowrap;
    color: #092c3a;
}
.form__opc{
    background: var(--azulSaesFont);
    border-bottom: 2px solid var(--azulSaes);
    outline: none;
    padding: .5em 1em .5em 1em;
    color:#ffffff;
}
.form__opc:hover{
    cursor: pointer;
}
.form__btn{
    color: #ffffff;
    font-family: 'Montserrat',sans-serif;
    background: var(--azulSaesFont);
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: .5em;
    border-bottom: 2px solid var(--azulSaes);
}
.form__btn:hover{
    background: var(--azulSaesFont);
    cursor: pointer;
}
.form__btn:active {
    scale: .98;
    transition: scale .2s;
}

/*FOOTER*/
.footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.footer .copy{
    padding: 1.5em;
    color: #fff;
    text-align: center;
    width: 100%;
    background: var(--azulSaes);
}
.footer .items{
    color: #fff;
    
    padding: 2em;
    background: var(--azulSaes);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;
    border-bottom: 2px solid #ececec;
}
.footer__title{
    font-size: 120%;
    cursor: pointer;
    padding: 1em 0;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--e-global-color-primary);
}
.services__item{
    padding:.4em .3em;
    cursor: pointer;
}
.services__item:hover{
    color: var(--e-global-color-primary);
    scale: 1.07;
    transition: all .3s;
    transform: translateX(5%);
}
.footer__paragraph{
    hyphens: none;
    line-height: 1.2;
    font-size: 105%;
}
